.fluid-container {
	background-image: url("3.jpg");
	background-size: cover;
	height: 753px;
}

.navbar-inverse {
	background-color: red;
}

#mybrand{
	padding-bottom: 0px;
}

.mynav{
	margin-bottom: 0px;
}

.mytransparent{
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
}

.myfooter {
	background-color:red;
	font-size: 18px;
	color: black;
	height: 50px;
}

.myfootertext {
	padding-top: 20px;
}

.myh1 {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: white;
}

.container .circle{
	margin-top: -10%;
	margin-right: auto;
	margin-left: auto;
	width: 550px;
	height: 550px;
	border-radius: 100%;	
	background-color: white;
}
.mytransparent {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
	height: 100%;
	
.container, .circle, .login{
	padding: 40px;
}

.container > .circle > .login > h2{
	text-align: center;
}